.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.grid #input_col > div.msgrid {
    display:-ms-grid;
    -ms-grid-columns: 1;
    -ms-grid-rows: 1;
    background: #f2f2f2; /*rgb(0, 188, 242);*/
    width: 400px;
    height: 500px;
    padding-top: 30px;
}

.grid .category
{
    display: -ms-grid;
    -ms-grid-columns: 3;
    -ms-grid-rows: 2;
    width: 210px;
    margin:auto;
}

    .grid .category > div
    {
        padding: 5px 0;
    }

    .grid .category > div:nth-child(1)
    {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }

    .grid .category > div:nth-child(2)
    {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
    }
    .grid .category > div:nth-child(3)
    {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
    }

    .grid .category > div:nth-child(4)
    {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
    }

    .grid .category > div:nth-child(5)
    {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
    }

    
#income_form {
    display:none;
}

    form > P
    {
        min-width: 70px;
        display: inline-block;
    }

#expense_form {
    display:none;
}

.grid .input_selecter
{
    background: gray;
    font-size: 20px;
    margin-left: 70px;
    margin-bottom: 20px;
}

    .grid .input_selecter:hover
    {
        background: #343434;
    }

.save
{
    float: right;
    margin-right: 45px;
    margin-top: 15px;
}